
.image-card{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 214, 214);
}

.image-card .upper-container {
    display: flex;
    background-color: white;
    height: 20%;
    width: 100%;
    align-items: center;
}

.upper-container .circle {
    margin-left: 15px;
    width: 100px;
    height: 100px;
    border-radius: 55px;
    border: 2px solid black;
}

.upper-container .user-details {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.user-details * {
    margin: 0;
    font-size: 20px;
}

.image-card .image {
    background-color: rgb(146, 134, 134);
    height: 60%;
    width: 100%;
}

.image-card .bottom-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 20%;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
}

.bottom-container .images {
    display: flex;
}

.bottom-container .description {
    width: 95%;
    font-size: 20px;
}